#cloud-config
# vim: syntax=yaml
#
# ***********************
# ---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: christianavila
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0m6riAGlLI4czqcAx5JvmROAymMh2+X3Dewk2TqH4nyoUDE2foBhKEh+6PVE4XIa3iES0bfp1/6/3ffonxEpQMrvV7an654OIwRYzliXl1AA0OcEZvYvXl1xQMPWcExJ7oJHlw4pPFl1yujDfQPUqfVl+/XUW7lSJ4oN40QZngZjR0x4KgDpJg60Le5xMeL/vaXgHtLZ/kEj42OjaQRFwMO6KaYoOcN4wktivhT/d9YC6OK9/hyOpaeNb5aE6MfLu+nGrJC97bYj9YOpdVMSi96LOQ7E+eM0QnfnD/99FxJZ/8q95lTsoIh6Mg62OM9N9AovsQrSPzdyLM24Wd20R christianavila@ubuntu18
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
